<!-- Popular Brands-->
<section id="popularbrands" class="container mt0">
    <div class="row">
        <div class="span9">
            <h1 class="heading1"><span class="maintext">Popular Brands</span><span class="subtext"> See Our  Popular Brands</span>
            </h1>

            <div class="brandcarousalrelative">
                <ul id="brandcarousal">
                    <li><img src="img/brand1.jpg" alt="" title=""/></li>
                    <li><img src="img/brand2.jpg" alt="" title=""/></li>
                    <li><img src="img/brand3.jpg" alt="" title=""/></li>
                    <li><img src="img/brand4.jpg" alt="" title=""/></li>
                    <li><img src="img/brand1.jpg" alt="" title=""/></li>
                    <li><img src="img/brand2.jpg" alt="" title=""/></li>
                    <li><img src="img/brand3.jpg" alt="" title=""/></li>
                    <li><img src="img/brand4.jpg" alt="" title=""/></li>
                    <li><img src="img/brand1.jpg" alt="" title=""/></li>
                    <li><img src="img/brand2.jpg" alt="" title=""/></li>
                    <li><img src="img/brand3.jpg" alt="" title=""/></li>
                    <li><img src="img/brand4.jpg" alt="" title=""/></li>
                </ul>
                <div class="clearfix"></div>
                <a id="prev" class="prev" href="#">&lt;</a>
                <a id="next" class="next" href="#">&gt;</a>
            </div>
        </div>
        <div class="span3">
            <div class="sidewidt">
                <h1 class="heading1"><span class="maintext">Testimonials</span></h1>

                <div class="flexslider" id="testimonialsidebar">
                    <ul class="slides">
                        <li>
                            " Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s."<br>
                            <span class="pull-right orange">By : Themeforest</span>
                        </li>
                        <li>
                            " It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                            Ipsum passages, and more recently ."<br>
                            <span class="pull-right orange">By : Envato</span>
                        </li>
                        <li>
                            " Lorem Ipsum is simply dummy text of the printing and industry. Lorem has been the
                            industry's standard dummy text ever since the 1500s."<br>
                            <span class="pull-right orange">By : Themeforest</span>
                        </li>
                        <li>
                            " It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                            Ipsum passages, and more recently."<br>
                            <span class="pull-right orange">By : Envato</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>