<!-- Sidebar Start-->
<security:authorize access="hasRole('ROLE_ADMIN') OR hasRole('ROLE_USER') OR hasRole('ROLE_EMPLOYEE') OR hasRole('ROLE_DRIVER')">
<aside class="span3">
    <div class="sidewidt">
        <h2 class="heading2"><span>Account</span></h2>
        <ul class="nav nav-list categories">
            <li>
                <a href="#"> My Account</a>
            </li>
            <li>
                <a href="#">Edit Account</a>
            </li>
            <li>
                <a href="#">Password</a>
            </li>
            <li>
                <a href="#">Wish List</a>
            </li>
            <li><a href="#">Order History</a>
            </li>
            <li><a href="#">Downloads</a>
            </li>
            <li><a href="#">Returns</a>
            </li>
            <li>
                <a href="#"> Transactions</a>
            </li>
            <li>
                <a href="category.html">Newsletter</a>
            </li>
            <li>
                <a href="category.html">Logout</a>
            </li>
        </ul>
    </div>
</aside>
</security:authorize>