<div id="leftSide">
    <div class="logo"><a href="#"><img src="img/logo.png" alt=""/></a></div>

    <div class="sidebarSep mt0"></div>

    <!-- Search widget -->
    <form action="" class="sidebarSearch">
        <input type="text" name="search" placeholder="search..." id="ac"/>
        <input type="submit" value=""/>
    </form>

    <div class="sidebarSep"></div>

    <!-- General balance widget -->
    <div class="genBalance">
        <a href="#" title="" class="amount">
            <span>General balance:</span>
            <span class="balanceAmount">$10,900.36</span>
        </a>
        <a href="#" title="" class="amChanges">
            <strong class="sPositive">+0.6%</strong>
        </a>
    </div>

    <!-- Next update progress widget -->
    <div class="nextUpdate">
        <ul>
            <li>Next update in:</li>
            <li>23 hrs 14 min</li>
        </ul>
        <div class="pWrapper">
            <div class="progressG" title="78%"></div>
        </div>
    </div>

    <div class="sidebarSep"></div>

    <!-- Left navigation -->
    <ul id="menu" class="nav">
        <li class="dash"><a href="/admin/dashboard" title="Dashboard" class="active"><span>Dashboard</span></a></li>
        <li class="charts"><a href="#" title="Orders"
                              class="exp"><span>Orders</span><strong>${countsList.get(1)}</strong></a>
            <ul class="sub">
                <li><a href="/admin/orders" title="">Orders</a></li>
                <li class="last"><a href="/admin/addOrder" title="">Create Order</a></li>
            </ul>
        </li>
        <li class="forms"><a href="#" title="Products"
                             class="exp"><span>Products</span><strong>${countsList.get(2)}</strong></a>
            <ul class="sub">
                <li><a href="/admin/products" title="">Products</a></li>
                <li class="last"><a href="/admin/addProduct" title="Add Product">Add Product</a></li>
            </ul>
        </li>
        <li class="tables"><a href="#" title="Transfers"
                              class="exp"><span>Transfers</span><strong>${countsList.get(3)}</strong></a>
            <ul class="sub">
                <li><a href="/admin/transfers" title="">Manage Transfers</a></li>
                <li><a href="/admin/addTransfer" title="">Create Transfer</a></li>
                <li><a href="/admin/trucks/" title="">Trucks</a></li>
                <li class="last"><a href="/admin/addTruck" title="">Add Truck</a></li>
            </ul>
        </li>
        <li class="widgets"><a href="#" title=""
                               class="exp"><span>Warehousing</span><strong>${countsList.get(4)}</strong></a>
            <ul class="sub">
                <li><a href="/admin/warehouses" title="">Manage Warehouses</a></li>
                <li><a href="/admin/addWarehouse" title="">Add Warehouses</a></li>
                <li><a href="/admin/locations" title="">Locations</a></li>
                <li class="last"><a href="/admin/addLocation" title="">Add Locations</a></li>
            </ul>
        </li>
        <li class="tables"><a href="#" title=""
                              class="exp"><span>Accounts</span><strong>${countsList.get(0)}</strong></a>
            <ul class="sub">
                <li><a class="exp" href="#" title="">Staff</a>
                    <ul class="sub">
                        <li><a href="/admin/employees" title="">Manage
                            Employees<strong>${countsList.get(5)}</strong></a></li>
                        <li><a href="/admin/addEmployee" title="">Add Employee</a></li>
                        <li><a href="/admin/drivers" title="">Manage Drivers<strong>${countsList.get(6)}</strong></a>
                        </li>
                        <li class="last"><a href="/admin/addDriver" title="">Add Driver</a></li>
                    </ul>
                </li>
                <li><a href="/admin/customers" title="">Manage Customers<strong>${countsList.get(7)}</strong></a></li>
                <li class="last"><a href="/admin/addCustomer" title="">Create Customer</a></li>
            </ul>
        </li>

    </ul>
</div>