<div class="statsRow">
    <div class="wrapper">
        <div class="controlB">
            <ul>
                <li><a href="/admin/products" title=""><img src="img/icons/control/32/plus.png"
                                              alt=""/><span>Manage Products</span></a></li>
                <li><a href="/admin/addAccount" title=""><img src="img/icons/control/32/hire-me.png"
                                              alt=""/><span>Add new user</span></a></li>
                <li><a href="/admin/orders" title=""><img src="img/icons/control/32/order-149.png"
                                              alt=""/><span>Check orders</span></a></li>
                <li><a href="/admin/transfers" title=""><img src="img/icons/control/32/shipping.png"
                                              alt=""/><span>Check Transfers</span></a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>