<div class="titleArea">
    <div class="wrapper">
        <div class="pageTitle">
            <h5>Dashboard</h5>
            <span>Welcome to Buy the Box - Admin Dashboard.</span>
        </div>
        <div class="middleNav">
            <ul>
                <li class="mUser"><a title=""><span class="users"></span></a>
                    <ul class="mSub1">
                        <li><a href="/admin/addCustomer" title="">Add user</a></li>
                    </ul>
                </li>
                </li>
                <li class="mOrders"><a title=""><span class="orders"></span><span class="numberMiddle">${numOrders}</span></a>
                    <ul class="mSub4">
                        <li><a href="#" title="">Pending Carts</a></li>
                        <li><a href="#" title="">Pending Payments</a></li>
                        <li><a href="#" title="">Trash</a></li>
                    </ul>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>